@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
